body {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

canvas {
  background-color: #f0d9b5;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  cursor: pointer;
}